# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg

# Log files
*.log

# Mac OS specific files
.DS_Store

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
EOF < /dev/null
**/.claude/settings.local.json
CLAUDE.md
install.sh

# Large files
./jericho/games/*

# Secrets
llm/ansible/inventory/inventory.ini
notes.txt