# Core
jericho==3.3.0
langgraph>=0.0.38
requests

# Optional, for Jupyter usage or dev introspection
ipykernel

langchain-core
networkx
matplotlib
scipy

# Configuration
pyyaml>=5.3.1
git+https://github.com/FelixBenning/lazyConfig.git@master#egg=lazyconfig
omegaconf

# Memory (uncomment if needed)
# chromadb
# sentence-transformers